body {
  background-color: #e7f5ff;
  font-family: Montserrat, serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #074f18;
  font-family: Sacramento, cursive;
  font-size: 5.625rem;
  margin: 0 auto;
}

h2 {
  color: #074f18;
  font-family: Merriweather, serif;
  font-size: 1.5rem;
}

h3 {
  color: #325a18;
  font-family: Merriweather, serif;
}

/* hr {
  border: dotted #ab7b21 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
} */
p {
  line-height: 2;
}

@keyframes ball_move {
  0%, 30% {
    opacity: 0;
  }

  40% {
    opacity: 100;
      left: 0;
  }

  100%
  {
    left: 90%;
  }
}

.ball-gif {
  animation-timing-function: ease;
  animation: ball_move 4s linear;
  animation-iteration-count: infinite;
  width: 8%;
  position: absolute;
  left: -5;
  bottom: 110px;
}

.bottom-cloud {
  bottom: 270px;
  left: 270px;
  position: absolute;
  max-width: 12%;
  object-fit: contain;

}

.bottom-container {
  background-color: #ebcd97;
  line-height: 2;
  padding: 50px 0 20px;
  position: relative;
}

.btn {
  background-image: -webkit-linear-gradient(top, #97d3ff, #0091ff);
  background-image: -moz-linear-gradient(top, #97d3ff, #0091ff);
  background-image: -ms-linear-gradient(top, #97d3ff, #0091ff);
  background-image: -webkit-gradient(to bottom, #5693ff, #0091ff);
  background-image: -o-linear-gradient(top, #97d3ff, #0091ff);
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Montserrat, serif;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-image: -webkit-linear-gradient(top, #0091ff, #0968a7);
  background-image: -moz-linear-gradient(top, #0091ff, #0968a7);
  background-image: -ms-linear-gradient(top, #0091ff, #0968a7);
  background-image: -webkit-gradient(to bottom, #0091ff, #0968a7);
  background-image: -o-linear-gradient(top, #0091ff, #0968a7);
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Montserrat, serif;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.circuit-img {
  float: right;
  margin-left: 30px;
  width: 33%;
}

.code-img {
  float: left;
  margin-right: 30px;
  width: 35%;
}

.contact-message {
  width: 60%;
  margin: 40px auto 60px;
}

.copyright-line {
  color: white;
  font-size: 0.85rem;
  margin: 20px 0 40px 0;
}

.description {
  padding: 0 50px;
}


.footer-link {
  color: #ab7b21;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
}

.footer-link:hover {
  color: #fbf5ea;
}

.intro {
  width: 60%;
  margin: auto;
}

.island-img {
  width: 60%;
}

.middle-container {
  padding: 30px 0;
}

.profile {
  background: lightblue;
  padding: 80px 0;
  margin-bottom: 30px;
}

.profile-resize {
  width: 15%;
}

.prog-h2 {
  font-weight: normal;
  font-size: 30px;
}
.robotics-title {
  padding-left: 45px;
}

.skills {
  background: lightblue;
  padding: 30px 0 1px;
  margin-bottom: 80px;
}

.skill-row {
  margin: 80px auto;
  text-align: left;
  width: 70%;
}

.top-container {
  background: rgb(157, 223, 211);
  background: linear-gradient(0deg, rgba(157, 223, 211, 1) 30%, rgba(139, 168, 255, 1) 100%);
  /* background-color: #9ddfd3; */
  padding-top: 90px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 240px;
  top: 30px;
  max-width: 12%;
  object-fit: contain;

}

.water-img {
  width: 100%;
  height: 45%;
  position: absolute;
  left: 0;
  bottom: 0;
}
